.indexMuscieListModule {
    width: 990px;
    height: 300px;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 47px;
    left: 5px;
    background: #222;
    .listHead {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 990px;
        height: 40px;
        background: rgba(0, 0, 0, .8);
        .listLeft {
            border-top-left-radius: 10px;
            width: 560px;
            height: 40px;
            .listT {
                float: left;
                font-size: 14px;
                margin-left: 20px;
                color: #FFF;
                font-weight: bold;
                line-height: 40px;
            }
            .listCleanBtn {
                cursor: pointer;
                float: right;
                font-size: 14px;
                color: #FFF;
                line-height: 40px;
            }
            .listLine {
                float: right;
                height: 30px;
                width: 2px;
                margin-left: 10px;
                background: #666;
            }
        }
        .listRight {
            border-top-right-radius: 10px;
            width: 430px;
            height: 40px;
        }
    }
    .listBody{
        width: 990px;
        height: 260px;
        .listRight{
            float: left;
            width: 560px;
            height: 260px;
            .noneList{
                display: none;
                width: 100%;
                text-align: center;
                line-height: 260px;
                font-size: 12px;
                color: #aaa;
            }
        }
        .listleft{
            float: left;
            width: 330px;
            height: 260px;
        }
    }
}