<div class="indexMuscieModule">
    <div class="musiceBg"></div>
    <div class="musiceLockBg">
        <div class="lockBtn"></div>
    </div>
    <div class="musiceCenter">
        <indexMuscieListModule [hidden]="musiceBol" (musiceDataEvent)="musiceDataEvent($event)"></indexMuscieListModule>
        <div class="musiceCtrl">
            <div class="musicePre" (click)="playPre()"></div>
            <div class="musicePlay" *ngIf="playBol" (click)="playVideo()"></div>
            <div class="musicePause" *ngIf="!playBol" (click)="playVideo()"></div>
            <div class="musiceNext" (click)="playNext()"></div>
            <img class="musiceImg" [src]="musiceImg" />
            <div class="musiceBar">
                <div class="musiceMsg">
                    <div class="musiceTitle" [innerHTML]="musiceTitle"></div>
                    <div class="musiceName" [innerHTML]="musiceName"></div>
                </div>
                <div class="barBg">
                    <div class="barbufferLine"></div>
                    <div class="barRedLine"></div>
                    <div class="barBtn"></div>
                </div>
                <div class="barTime">
                    <div class="nowT" [innerHTML]="nowTimw"></div>
                    <div class="totalTime">/</div>
                    <div class="totalTime" [innerHTML]="durationTime">/{{durationTime}}</div>
                </div>
            </div>
            <div class="musiceList" (click)="listClick()">
                <div class="listNum" [innerHTML]="musiceListNum|number"></div>
            </div>
            <div class="musiceRule playOnce"></div>
            <div class="soundBtn"></div>
        </div>
    </div>
</div>