<div class="indexMuscieListModule">
    <div class="listHead">
        <div class="listLeft">
            <div class="listT">播放列表</div>
            <div class="listLine"></div>
            <div class="listCleanBtn" (click)="clearMusice()">
                <div class="clearBtn"></div>清除</div>
        </div>
        <div class="listRight">
            <div class="musiceTitle">{{selectTitle}}</div>
        </div>
        <div class="closeBtn"></div>
    </div>
    <div class="listBody">
        <div class="listRight">
            <div class="noneList" *ngIf="arr==null||arr.length==0">
                你还没有添加任何歌曲
            </div>
            <div class="musiceUl" *ngIf="arr!=null&&arr.length>0">
                <div class="musiceLi" (click)="musiceSelectPlay(item,num)" [ngClass]="selectNum==num?'musiceOver':''" *ngFor="let item of arr;let num=index">
                    <div class="playIcon" [ngClass]="selectNum==num?'selectPlayIcon':''"></div>
                    <div class="musiceName">{{item.title}}</div>
                    <div class="musiceTotalTime">{{item.totalTime}}</div>
                    <div class="musiceAuthor">{{item.nickName}}</div>
                </div>
            </div>
        </div>
        <div class="listleft">
            <div class="soundLriy" *ngFor="let item of soundLriy;let num=index;">{{item.str}}</div>
        </div>
        <video id="ctrlMusice" autoplay="true" src="{{video_url}}"></video>
    </div>
</div>